#todo-error{
  color: red;
  font-size: 2em;
}

body {

  font-family: 'Special Elite', cursive;
}

ul {
  list-style-type: none;
}

#quote {
  font-family: 'Kaushan Script', cursive;
}

#bg-image {
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.171)
}

#placeholder::placeholder {
  color:  #17a2b8;
  text-shadow: 0 0 3px white
}
.btn {
padding: 0px
}

.form-control {
background-color: rgba(241, 232, 232, 0.596);
border: 1px solid rgba(0, 0, 0, 0.116)
}

.main-clock {
  background-color: rgba(155, 143, 143, 0.192);
  color: white;
  text-shadow: 0 0 5px black;
}

.weather {
  background-color: rgba(0, 0, 0, 0.034);
  color: white;
  text-shadow: 0 0 5px black
}

.completed {
  text-decoration: line-through
}
