#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.171)
}

.weather {
  color: white;
  text-shadow: 0 0 8px black;
}

.h75 {
  height: 75vh;
}

.completed {
  text-decoration: line-through
}

.listed {
}