#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.171)
}

.list-group-item {
  background-color: rgba(12, 19, 27, 0.267);
  color: white;
  text-shadow: 0 0 8px black;
}

.card {
  background-color: rgba(255, 255, 255, 0);
}

.h75 {
  height: 75vh;
}